body{
    background-color: aliceblue;
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: end;
    border: 1px black solid;


}
p{
    color: black ;
    font-size: large;
    text-align: justify;

}