body{
    background-color: aliceblue;
    width: auto;
    margin: auto;
    


}
p{
    color: black ;
    font-size: large;
    text-align: justify;
    margin: auto;
    width: 300px;
    text-align: justify;
    border: 1px solid black;
    padding: 10 px;


}